.bs-example {
    position: relative;
    padding:  5px 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
.tags{
	display: inline-block;
	margin-bottom: 1em;
}
.text-tabed{
	padding-left: 4em;
}
.btn-in-list{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0 0 4px 4px;
}

 #rating { position:relative; float:right; margin:-30px auto 0 auto; width:200px; height:40px; background-image:url("/obrazkovaBanka/resources/img/rating_stars.png"); background-position: -200px 0; background-repeat:no-repeat;}
  #rating .hod { position:absolute; width:40px; height:40px; cursor:pointer;}
  #rating #hod1 { left:0;}
  #rating #hod2 { left:40px;}
  #rating #hod3 { left:80px;}
  #rating #hod4 { left:120px;}
  #rating #hod5 { left:160px;}
 p.rating { padding:10px 0 0 40px; text-align:left; font-weight:normal;}
 
.container-menu {
	margin-top: -18px;
}
.kdb-grey{
	background-color:#C7C6C6
}